<div class="container about-us">
  <div style="font-size: 120%;">
    <h2>Background</h2>
    <p>We organise a six-a-side football league in Moscow and a two-day annual summer tournament by the beach in Nida, Lithuania.</p>

    <p>The league launched in September 2012 with four teams, two of whom had previously been competing in <a href="http://topmenclub.ru/">TopMen Club</a>.</p>

    <p>The league has had twenty-four members (in order of arrival):
    <em><a href="#coalition">Coalition</a>; ING*; <a href="#vverkh">Vverkh</a>; <a href="#desperado">Desperado Black</a>; <a href="#greenteam">GreenTeam</a>*; Basis*; <a href="#klerki">Klerki</a>*; <a href="#redstar">Red Star (formerly International School of Moscow)</a>; British Embassy*; <a href="#freshmen">Freshmen</a>; Desperado White*; <a href="#bro-13">Bro-13</a>*; <a href="#anthill">Anthill</a>*; Moystroitel*; B.O.R.T.*; The Six Offenders*; Black Rocket*; <a href="#unsanctionables">The Unsanctionables</a>; Cavalry; <a href="http://cref.ru">CREF</a>; Great Warriors*; FC Unifin*; The Galactics, Happy Sundays
    * = absent in season 19</em></p>

    <p>We hold a party and awards ceremony each year on the night of the Champions' League final.</p>

    <p>Blitz Liga's eighteenth season was won by Red Star who beat The Galactics in a penalty shoot-out on July 2. The nineteenth season is played outdoors at «Лужники», Футбольное поле 6, with leagues games on every Sunday between September 10 to October 22. The final and semi-final are scheduled for November 12 to allow for school holidays, but they will be played on October 29 if that date is preferred by all the qualifying teams.</p>

    <p><span style="line-height: 1.5;">Our referees are paid and most have experience at professional level.</span></p>

    <p>During previous winter seasons, we have played indoors at <a title="CSKA" href="/?page_id=564">CSKA's indoor arena</a>. In summer, we play at <a title="Luzhniki" href="about-us/venues/luzhniki/">Luzhniki Pitch No.6</a>. We have posted<a href="/?page_id=548"> directions to CSKA and Luzhniki.</a>.</p>

    <p><a style="line-height: 1.5;" title="Contact Us" href="http://blitzliga.com/sample-page/contact-us/">Get in touch</a><span style="line-height: 1.5;"> if you're not yet a member of the league but would like to apply to join in Season 19 or apply to take part in the knock-out cup competition!</span></p>

  </div>
</div>
